
<mat-card class="client-details">
    <div >
        <h1>Client Details</h1>
        <div class="detail">
            <span class="label">Code:</span>
            <span class="value" id="code"></span>
        </div>
        <div class="detail">
            <span class="label">Nom:</span>
            <span class="value" id="nom"></span>
        </div>
        <div class="detail">
            <span class="label">Prenom:</span>
            <span class="value" id="prenom"></span>
        </div>
        <div class="detail">
            <span class="label">Date de Naissance:</span>
            <span class="value" id="dateDeNaissance"></span>
        </div>
        <div class="detail">
            <span class="label">Telephone:</span>
            <span class="value" id="telephone"></span>
        </div>
        <div class="detail">
            <span class="label">Identifiant:</span>
            <span class="value" id="identifiant"></span>
        </div>
        <div class="detail">
            <span class="label">Email:</span>
            <span class="value" id="email"></span>
        </div>
        <div class="detail">
            <span class="label">Genre:</span>
            <span class="value" id="genre"></span>
        </div>
        <div class="buttons">
            <button class="compte-courant" mat-raised-button (click)="chooseCompteCourant()">Compte Courant</button>
            <button class="compte-epargne" mat-raised-button (click)="chooseCompteEpargne()">Compte Epargne</button>
        </div>
    </div>
</mat-card>
