body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.client-details {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
}

.detail {
    margin-bottom: 15px;
}

.label {
    font-weight: bold;
    margin-right: 10px;
}

.value {
    color: #333;
}

.compte-epargne{
    margin-left: 2vw;
}