
.email{
    width: 100%;
  }
.nom{
    width: 90%;
  }
.prenom{
    width: 90%;
  }
.address{
    width: 100%;
}



.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.table{
  width: 35vw;
}
.pagination{
  width: 34vw;
  font-size: 1vw;
}

